<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=localhost/orcl;User Id=test;Password=test;" />
  </connectionStrings>
</configuration>
<!--"Data Source=localhost/orcl;User Id=test;Password=test;";-->
<!--"Data Source=localhost/orcl;User Id=system;Password=Oracle12#;"-->